@{
    ViewBag.Title = "Jon Krebs";
    Layout = "~/Views/Shared/_Layout-Portfolio.cshtml";
}

<main role="main">
    <section class="">
        <div class="w-100 h-80vh img-cover" style="background-image: url('/Content/Media/Images/Kea.jpg'); padding-top: calc((80vh - 150px) / 2)">
                <nav class="d-flex" data-toggle="sticky-onscroll">
                    <div class="nav-body">
                        <div class="nav-body-content">
                            <div class="mr-4">
                                <img class="nav-avatar" src="~/Content/Media/Images/Misc/Avatar.png" />
                            </div>
                            <div class="Vertical-Align-Parent mr-4">
                                <div class="Vertical-Align">
                                    <h2 class="nav-title">Jon Krebs <span class="nav-title-hidden">Web Developer</span></h2>
                                    <h5 class="nav-subtitle">Web Developer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
        </div>
    </section>

    <section>
        <div class="container sm">
            <div class="row">
                <div class="col-8">
                    <div class="d-flex mb-5">
                        <div class="mr-4">
                            <h3 class="icon-anchor"></h3>
                        </div>
                        <div>
                            <h3>Profile</h3>
                            <p>asdf</p>
                        </div>
                    </div>
                    <div class="d-flex mb-5">
                        <div class="mr-4">
                            <h3 class="icon-anchor"></h3>
                        </div>
                        <div>
                            <h3>Employment History</h3>
                            <div class="mb-4 pl-2">
                                <h4>Web Developer at Trail, Auckland</h4>
                                <h6>Date and time</h6>
                                <p>asdfasdfasdf</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-5">
                        <h3>Skills</h3>
                        <div class="mb-4">
                            <h4>Dreaming</h4>
                            <div class="progress" style="height: 3px;">
                                <div class="progress-bar bg-success" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h4>Idea Generation</h4>
                            <div class="progress" style="height: 3px;">
                                <div class="progress-bar bg-success" style="width: 80%"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h4>Web Design</h4>
                            <div class="progress" style="height: 3px;">
                                <div class="progress-bar bg-success" style="width: 60%"></div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <h4>Graphic Design</h4>
                            <div class="progress" style="height: 3px;">
                                <div class="progress-bar bg-success" style="width: 70%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5">
                        <h3>Links</h3>
                        <ul class="list-unstyled m-0">
                            <li class="list-item">
                                <a>
                                    <span class="badge badge-info">
                                        <span class="icon-social-facebook"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a>
                                    <span class="badge badge-info">
                                        <span class="icon-social-linkedin"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a>
                                    <span class="badge badge-info">
                                        <span class="icon-social-behance"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a>
                                    <span class="badge badge-info">
                                        <span class="icon-social-dribbble"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light">
        <div class="container">
            <h1>Portfolio</h1>
        </div>
        <div class="carousel slide" id="PortfolioCarousel" data-ride="carousel">
            <div class="carousel-inner pb-4">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="img-tile" data-toggle="modal" data-target="#exampleModalCenter">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-1.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-2.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-3.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-4.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-5.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-6.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-7.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-8.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-9.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-10.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-11.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-12.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="img-tile">
                                    <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-13.jpg')">
                                        <span class="img-tile-overlay"></span>
                                    </span>
                                    <div class="img-tile-body text-light">
                                        <h2>Text</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#PortfolioCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#PortfolioCarousel" data-slide-to="1"></li>
                <li data-target="#PortfolioCarousel" data-slide-to="2"></li>
            </ol>
        </div>
    </section>
</main>

<div class="modal fade lightbox" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="lightboxmodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="mw-100" src="~/Content/Media/Images/Portfolio/img-1.jpg" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>