@{
    ViewBag.Title = "Jon Krebs";
    Layout = "~/Views/Shared/_Layout-Portfolio.cshtml";
    <style>

        #ScrollWheel {
            position: fixed;
            bottom: 20px;
            left: 50%;
            right: 50%;
        }

        #SectionIndicators {
            position: fixed;
            left: 24px;
            top: 35vh;
        }
    </style>
}

    <main role="main" class="page-loading">

        <section id="Intro" class="styled-scroll active">
            <div class="w-100 img-cover hero" style="background-image: url('/Content/Media/Images/Kea.jpg');">
                <div class="hero-overlay hero">
                    <nav class="d-flex" data-toggle="sticky-onscroll">
                        <div class="nav-body loading">
                            <div class="nav-body-content container">
                                <div class="mr-4">
                                    <img class="nav-avatar" src="~/Content/Media/Images/Misc/Avatar.png" />
                                </div>
                                <div class="Vertical-Align-Parent mr-4 w-full">
                                    <div class="Vertical-Align flex">
                                        <div>
                                            <h2 class="nav-title">Jon Krebs @*<span class="nav-title-hidden">Maker</span>*@</h2>
                                            <h5 class="nav-subtitle">Maker</h5>
                                        </div>
                                        @*<div class="flex right nav-links">
                                            <h6 class="mr-4"><a class="active" href="#">Resume</a></h6>
                                            <h6><a href="/Home/CoverLetter">Cover Letter</a></h6>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="progress mt-4" style="height: 3px;" id="LoaderProgress">
                                <div class="progress-bar" style="transition: 1s; width: 0;"></div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <ul class="nav" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                </ul>
            </div>
         
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="container sm">
                        <h1>Cover Letter For Contoso Limited</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque urna nisl, mollis sed rhoncus a, luctus ut eros. Donec feugiat dignissim risus, ut dapibus quam sodales eu. Sed eget rutrum diam. Proin imperdiet porta orci, et commodo erat sollicitudin non. Nulla facilisi. Nullam facilisis commodo risus molestie vulputate. Fusce maximus, odio non maximus commodo, est velit varius nibh, vitae semper quam turpis sit amet diam. Duis nibh mauris, lobortis vel justo malesuada, fermentum maximus elit. Donec semper vel nisl sed dignissim. Cras sagittis sagittis urna.
                            <br /><br />
                            Donec lacinia vestibulum interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam mollis tincidunt urna, at posuere sem congue quis. Sed tincidunt vulputate velit dictum fringilla. Phasellus blandit cursus facilisis. Quisque tincidunt ornare urna, eu laoreet enim malesuada aliquam. Donec diam neque, ultrices at molestie ac, condimentum et est. Nulla nulla purus, aliquam nec euismod eu, facilisis eget dui.
                            <br /><br />
                            Nullam consectetur quam sed aliquam efficitur. Sed consequat lacinia arcu, in elementum sapien dictum vel. Morbi laoreet, lorem malesuada tincidunt pretium, lorem nibh bibendum nulla, nec gravida arcu diam semper sem. Cras non elit sagittis elit venenatis placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam tincidunt erat ipsum, a placerat diam efficitur et. Nullam eros libero, pharetra non pretium ac, fermentum vitae dolor. Nam pellentesque, urna vel volutpat dignissim, ante ipsum ultrices purus, nec congue massa nibh elit.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="container">
                        <h1>Portfolio</h1>
                        <div class="row" id="PortfolioGrid">
                            <div class="img-block pointer">
                                <div class="img-block-body">
                                    <img src="~/Content/Media/Images/Portfolio/Img-11.jpg" />
                                    <div class="img-block-overlay">
                                        <div class="img-block-text">Text</div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-block pointer">
                                <div class="img-block-body">
                                    <img src="~/Content/Media/Images/Portfolio/Img-1.jpg" />
                                    <div class="img-block-overlay">
                                        <div class="img-block-text">Text</div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-block pointer">
                                <div class="img-block-body">
                                    <img src="~/Content/Media/Images/Portfolio/Img-7.jpg" />
                                    <div class="img-block-overlay">
                                        <div class="img-block-text">Text</div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-block pointer">
                                <div class="img-block-body">
                                    <img src="~/Content/Media/Images/Portfolio/Img-6.jpg" />
                                    <div class="img-block-overlay">
                                        <div class="img-block-text">Text</div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-block pointer">
                                <div class="img-block-body">
                                    <img src="~/Content/Media/Images/Portfolio/Img-12.jpg" />
                                    <div class="img-block-overlay">
                                        <div class="img-block-text">Text</div>
                                    </div>
                                </div>
                            </div>

                            <div class="img-block pointer">
                                <div class="img-block-body">
                                    <img src="~/Content/Media/Images/Portfolio/Img-13.jpg" />
                                    <div class="img-block-overlay">
                                        <div class="img-block-text">Text</div>
                                    </div>
                                </div>
                            </div>

                            <div class="img-block pointer">
                                <div class="img-block-body">
                                    <img src="~/Content/Media/Images/Portfolio/Img-5.jpg" />
                                    <div class="img-block-overlay">
                                        <div class="img-block-text">Text</div>
                                    </div>
                                </div>
                            </div>

                            <div class="img-block pointer">
                                <div class="img-block-body">
                                    <img src="~/Content/Media/Images/Portfolio/Img-2.jpg" />
                                    <div class="img-block-overlay">
                                        <div class="img-block-text">Text</div>
                                    </div>
                                </div>
                            </div>

                            <div class="img-block pointer">
                                <div class="img-block-body">
                                    <img src="~/Content/Media/Images/Portfolio/Img-8.jpg" />
                                    <div class="img-block-overlay">
                                        <span>Text</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="container sm">
                        <h1>About Me</h1>
                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex mb-5">
                                    <div class="mr-4">
                                        <h4 class="icon-anchor"></h4>
                                    </div>
                                    <div>
                                        <h4>Profile</h4>
                                        <p>
                                            I’m looking to find a Challenge and Freedom working on a project I am passionate about to make a difference to the world. I am an experienced Web Developer, and Creative. Self motivated and driven to learn more and experience life. I won’t fit into a cookie cutter job, and that's what I offer.
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex mb-5">
                                    <div class="mr-4">
                                        <h4 class="icon-briefcase"></h4>
                                    </div>
                                    <div>
                                        <h4>Employment History</h4>
                                        <div class="mb-4">
                                            <h6>Web Developer at <a class="subtle-link" href="https://gettrail.com" target="_blank">Trail</a>, Auckland</h6>
                                            <label>September 2017 - Ongoing</label>
                                            <p>
                                                I build a nice CRM system for financial advisers to manage their business more effectively.
                                            </p>
                                        </div>
                                        <div class="mb-4">
                                            <h6>Programmer at <a class="subtle-link" href="https://irefi.co.nz" target="_blank">iRefi</a>, Auckland</h6>
                                            <label>May 2015 - September 2017</label>
                                            <p>
                                                Worked on building an online lead generation system for a Finance business, then building an in house CRM system
                                            </p>
                                        </div>
                                        <div class="mb-4">
                                            <h6>Junior Developer at <a class="subtle-link" href="http://markerdigital.io/" target="_blank">MarkerMetro</a>, Auckland</h6>
                                            <label>June 2013 - May 2015</label>
                                            <p>
                                                Quality control and junior development on mobile apps
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-5">
                                    <div class="mr-4">
                                        <h4 class="icon-graduation"></h4>
                                    </div>
                                    <div>
                                        <h4>Education</h4>
                                        <div class="mb-4">
                                            <h6>Be Hons Mechanical Engineering at The University of Auckland</h6>
                                            <label>January 2014 - September 2017</label>
                                        </div>
                                        <div class="mb-4">
                                            <h6>Macleans College</h6>
                                            <label>January 2009 - September 2013</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-5">
                                    <div class="mr-4">
                                        <h4 class="icon-graduation"></h4>
                                    </div>
                                    <div>
                                        <h4>Extra Curricular</h4>
                                        <div class="mb-4">
                                            <h6>Long distance Running</h6>
                                            <label>January 2014 - September 2017</label>
                                        </div>
                                        <div class="mb-4">
                                            <h6>Hackathons</h6>
                                            <label>January 2009 - September 2013</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-5">
                                    <h4>Details</h4>
                                    <h6>Phone: 021 154 7194</h6>
                                    <h6>Email: jon_krebs@hotmail.com</h6>
                                    <h6>Licence: Full</h6>
                                </div>
                                <div class="mb-5">
                                    <h4>Skills</h4>
                                    <div class="mb-4">
                                        <h6>Dreaming</h6>
                                        <div class="progress" style="height: 3px;">
                                            <div class="progress-bar bg-primary" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <h6>Idea Generation</h6>
                                        <div class="progress" style="height: 3px;">
                                            <div class="progress-bar bg-primary" style="width: 80%"></div>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <h6>Web Design</h6>
                                        <div class="progress" style="height: 3px;">
                                            <div class="progress-bar bg-primary" style="width: 60%"></div>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <h6>Graphic Design</h6>
                                        <div class="progress" style="height: 3px;">
                                            <div class="progress-bar bg-primary" style="width: 70%"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <h4>Links</h4>
                                    @*<ul class="list-unstyled m-0">
                            <li class="list-item">
                                <a>
                                    <span class="badge badge-info">
                                        <span class="icon-social-facebook"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a>
                                    <span class="badge badge-info">
                                        <span class="icon-social-linkedin"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a>
                                    <span class="badge badge-info">
                                        <span class="icon-social-behance"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a>
                                    <span class="badge badge-info">
                                        <span class="icon-social-dribbble"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>*@
                                </div>
                                <div class="mb-5">
                                    <h4>Interests</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       

        @*<section id="Portfolio" class="styled-scroll portfilio-1">
            <div class="container">
                <h1>Portfolio</h1>
                <div class="row" id="PortfolioGrid">
                    <div class="col-8">
                        <div class="img-tile pointer" data-toggle="modal" data-target="#exampleModalCenter">
                            <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-1.jpg')">
                                <span class="img-tile-overlay"></span>
                            </span>
                            <div class="img-tile-body text-light">
                                <h2>Text</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-tile pointer">
                            <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-2.jpg')">
                                <span class="img-tile-overlay"></span>
                            </span>
                            <div class="img-tile-body text-light">
                                <h2>Text</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-tile pointer">
                            <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-3.jpg')">
                                <span class="img-tile-overlay"></span>
                            </span>
                            <div class="img-tile-body text-light">
                                <h2>Text</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-tile pointer">
                            <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-4.jpg')">
                                <span class="img-tile-overlay"></span>
                            </span>
                            <div class="img-tile-body text-light">
                                <h2>Text</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="img-tile pointer">
                            <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-5.jpg')">
                                <span class="img-tile-overlay"></span>
                            </span>
                            <div class="img-tile-body text-light">
                                <h2>Text</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    </main>

<div class="modal fade lightbox" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="lightboxmodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-wide">
            <div class="modal-header">
                <div class="w-full">
                    <div class="flex">
                        <h5 class="modal-title" id="exampleModalLongTitle">Series title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <p class="m-0">Overview about what this series of work is about.</p>
                </div>
            </div>
            <div class="modal-body">
                @* Add in a carousel for different images in this series of work *@
                <div class="row">
                    <div class="col-sm-8">
                        <img class="mw-100" src="~/Content/Media/Images/Portfolio/img-1.jpg" />
                    </div>
                    <div class="col-sm-4">
                        <h6>Piece Title</h6>
                        <ul>
                            <li>Figma</li>
                            <li>Adobe Photoshop CS 2</li>
                            <li>Adobe InDesign</li>
                        </ul>
                        <p>
                            This piece demonstrates something great about me and here are the words I would like to use to describe waht it is and how I made it.
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@*<div class="carousel slide" id="PortfolioCarousel" data-ride="carousel">
        <div class="carousel-inner pb-4">
            <div class="carousel-item active">

            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="img-tile">
                                <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-6.jpg')">
                                    <span class="img-tile-overlay"></span>
                                </span>
                                <div class="img-tile-body text-light">
                                    <h2>Text</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="img-tile">
                                <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-7.jpg')">
                                    <span class="img-tile-overlay"></span>
                                </span>
                                <div class="img-tile-body text-light">
                                    <h2>Text</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="img-tile">
                                <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-8.jpg')">
                                    <span class="img-tile-overlay"></span>
                                </span>
                                <div class="img-tile-body text-light">
                                    <h2>Text</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="img-tile">
                                <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-9.jpg')">
                                    <span class="img-tile-overlay"></span>
                                </span>
                                <div class="img-tile-body text-light">
                                    <h2>Text</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="img-tile">
                                <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-10.jpg')">
                                    <span class="img-tile-overlay"></span>
                                </span>
                                <div class="img-tile-body text-light">
                                    <h2>Text</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="img-tile">
                                <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-11.jpg')">
                                    <span class="img-tile-overlay"></span>
                                </span>
                                <div class="img-tile-body text-light">
                                    <h2>Text</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="img-tile">
                                <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-12.jpg')">
                                    <span class="img-tile-overlay"></span>
                                </span>
                                <div class="img-tile-body text-light">
                                    <h2>Text</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="img-tile">
                                <span class="img-tile-bg img-cover" style="background-image: url('/Content/Media/Images/Portfolio/img-13.jpg')">
                                    <span class="img-tile-overlay"></span>
                                </span>
                                <div class="img-tile-body text-light">
                                    <h2>Text</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#PortfolioCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#PortfolioCarousel" data-slide-to="1"></li>
            <li data-target="#PortfolioCarousel" data-slide-to="2"></li>
        </ol>
    </div>*@

@*<div hidden id="SectionIndicators">
    <a href="#Intro" class="section-indicator active"><span>Intro</span></a>
    <a href="#Portfolio" class="section-indicator"><span>Portfolio</span></a>
    <a href="#About-Me" class="section-indicator"><span>About Me</span></a>
</div>*@

<div hidden id="ScrollWheel">
    <svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
        <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#4800ff;stroke-width:30px;" />
        <path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:rgba(0, 0, 0, 0.40);stroke-width:12px;" />
    </svg>
</div>




@section Scripts{
    <script src="~/Scripts/Plugins/Masonry/masonry-docs.min.js"></script>
    <script src="~/Scripts/Plugins/Scrollify/Scrollify.js"></script>
    <script>


        $(function () {

            $(window).scroll(function () {
                $('#ScrollWheel').fadeOut(500);
            });

            //Fadein Animation
            setTimeout(function () {
                $('.nav-body.loading').removeClass('loading');
                setTimeout(function () {
                    $('#LoaderProgress').find('.progress-bar').css('width', '100%');
                    setTimeout(function () {
                        $('#LoaderProgress').slideUp(200);
                        setTimeout(function () {
                            $('main.page-loading').removeClass('page-loading');
                            setTimeout(function () {
                                $('#ScrollWheel').fadeIn(200);
                                $('#SectionIndicators').fadeIn(200);
                            }, 1000)
                        }, 200)
                    }, 1200)
                }, 600)
            }, 600)

            //Set Scroll
            //var Scrolling = false;
            //$(window).bind('mousewheel', function (e) {
            //    var elm = $('section.active')
            //    if ($(elm).length != 0 && !Scrolling) {
            //        var ScrollPosition = CheckScrollPosition(elm);
            //        if (e.originalEvent.wheelDelta / 120 > 0) { // up
            //            if (ScrollPosition == 2 || ScrollPosition == 0) { // top of div;
            //                var scrollTo = $(elm).prev('section');
            //                if ($(scrollTo).length != 0) { //prev elm
            //                    ScrollToSection(scrollTo)
            //                }
            //            }
            //        }
            //        else { // down
            //            $('#ScrollWheel').fadeOut(500);
            //            if (ScrollPosition == 1 || ScrollPosition == 0) { // bottom of div;
            //                var scrollTo = $(elm).next('section');
            //                if ($(scrollTo).length != 0) { //next elm
            //                    ScrollToSection(scrollTo)
            //                }
            //            }
            //        }
            //    }
            //});

            //Masonry
            $('#PortfolioGrid').masonry({
                percentPosition: true
            })
        });

        function ScrollToSection(elm) {
            Scrolling = true;
            $('section.active').removeClass('active');
            $('html, body').animate({
                scrollTop: $(elm).offset().top
            }, 1000);

            setTimeout(function () {
                $('.section-indicator.active').removeClass('active')
                $('a.section-indicator[href="#' + $(elm).attr('id') + '"]').addClass('active');
                $(elm).addClass('active');
                Scrolling = false;
            }, 1000)
        }

        function CheckScrollPosition(elm) {
            var scrollTop = $(elm).scrollTop();
            var windowHeight = window.innerHeight;
            var elmScrollHeight = $(elm)[0].scrollHeight;
            var Delta = (windowHeight - elmScrollHeight)

            if (scrollTop == 0 && (Delta < 1 && Delta > -1)) {
                return 0;
            }
            else if ((scrollTop + windowHeight + 2) >= elmScrollHeight) {
                return 1;
            } else if (scrollTop <= 0) {
                return 2;
            } else {
                return null;
            }
        }

        //Smooth Scrolling

        $('a.section-indicator')
            // Remove links that don't actually link to anything
            .not('[href="#"]')
            .not('[href="#0"]')
            .click(function (event) {
                // On-page links
                if (
                    location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    &&
                    location.hostname == this.hostname
                ) {
                    // Figure out element to scroll to
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    // Does a scroll target exist?
                    if (target.length) {
                        // Only prevent default if animation is actually gonna happen
                        event.preventDefault();
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000, function () {
                            // Callback after animation
                            // Must change focus!
                            var $target = $(target);
                            $('section.active').removeClass('active');
                            $target.addClass('active')

                            $('.section-indicator.active').removeClass('active')
                            $('a.section-indicator[href="#' + $target.attr('id') + '"]').addClass('active');

                            $target.focus();


                            if ($target.is(":focus")) { // Checking if the target was focused
                                return false;
                            } else {
                                $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                $target.focus(); // Set focus again
                            };
                        });
                    }
                }
            });


    </script>
}
