@{
    Layout = null;
}

<main id="Mission" class="storyboard styled-scroll">
    <content>
        <div class="img-cover Vertical-Align-Parent story" style="background-image: url('/Content/Media/Images/Tiles/Section-3-1.png');">
            <div class="Vertical-Align text-white text-center">
                <div class="container">
                    <h2>We make it efforless to reduce your carbon footprint.</h2>
                </div>
            </div>
        </div>
    </content>
    <content class="p-0">
        <div class="img-cover Vertical-Align-Parent">

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="Vertical-Align">
                                <h2 class="mb-3">Zeeco automatically calculates Your unique footprint</h2>
                                <h4>
                                    By analyzing and categorising you expenses directly from your bank feed Zeeco can accuratly calculate your unique carbon footrpint.
                                    <br /><br />
                                    We use  bank integration software trusted by over 23 million people and companies like Microsoft and ING bank
                                </h4>
                            </div>
                        </div>
                        <div class="col-6 text-center h-100vh">
                            @*<img class="story-height" src="~/Content/Media/Images/Tiles/Protest.jpg" />*@
                        </div>
                    </div>
                </div>

        </div>
    </content>
    <content class="p-0">
        <div class="img-cover Vertical-Align-Parent">

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="Vertical-Align">
                                <h2 class="mb-3">You select how much you want to contribute</h2>
                                <h4>Select a maximum value that you are happy to contribute towards offsetting your personal footprint each month. No fixed amount. You pay for what you use.</h4>
                            </div>
                        </div>
                        <div class="col-6 text-center h-100vh">
                            @*<img class="story-height" src="~/Content/Media/Images/Tiles/Protest.jpg" />*@
                        </div>
                    </div>
                </div>

        </div>
    </content>
    <content class="p-0">
        <div class="img-cover Vertical-Align-Parent">

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="Vertical-Align">
                                <h2 class="mb-3">Your footprint is neutralized</h2>
                                <h4>
                                    Each month your total footprint is calculated and an offset up to your maximum contribution is placed into an eco project fund. You only pay for your own footprint.
                                    <br /><br />
                                    We offset your footprint by planting trees and investing in development of renewable energy
                                    <br /><br />
                                    You can view what has been done with your contributions and how much of your footprint you’ve removed.
                                </h4>
                                <br />
                                <button onclick="OpenOptin()" class="btn btn-outline-secondary btn-lg border-round">Sign Up</button>
                            </div>
                        </div>
                        <div class="col-6 text-center h-100vh">
                            @*<img class="story-height" src="~/Content/Media/Images/Tiles/Protest.jpg" />*@
                        </div>
                    </div>
                </div>
            </div>
    </content>
</main>

<div class="p-3 fixed-top">
    <h1 onclick="OpenMain()" class="close float-left">&times;</h1>
</div>
