@{
    Layout = null;
}

<main id="Mission" class="storyboard styled-scroll">
    <content>
        <div class="img-cover Vertical-Align-Parent story" style="background-image: url('/Content/Media/Images/Tiles/Section-2-1.png');">
            <div class="Vertical-Align text-white text-center">
                <div class="container">
                    <h2>We make it efforless to reduce your carbon footprint.</h2>
                </div>
            </div>
        </div>
    </content>
    <content class="p-0">
        <div class="img-cover Vertical-Align-Parent">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="Vertical-Align">
                            <h2 class="mb-3">Zeeco automatically calculates Your unique footprint</h2>
                            <h4>
                                By analyzing and categorising you expenses directly from your bank feed Zeeco can accuratly calculate your unique carbon footrpint.
                                <br /><br />
                                We use  bank integration software trusted by over 23 million people and companies like Microsoft and ING bank
                            </h4>
                        </div>
                    </div>
                    <div class="col-6 text-center h-100vh">
                        <svg xmlns="http://www.w3.org/2000/svg" width="" height="" viewBox="0 0 276 168" fill="none">
                            <path d="M12 156L70 98L128 40L189 101L223 67L264 108" stroke="#00D1DE" stroke-width="3"></path>
                            <path d="M70 98L99 69" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M70 98L99 69" stroke="#13828D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="5 5"></path>
                            <circle cx="12" cy="156" r="10.5" stroke="#00D1DE" stroke-width="3"></circle>
                            <circle cx="12" cy="156" r="1" fill="#269EAA" stroke="#269EAA" stroke-width="3"></circle>
                            <circle cx="128" cy="40" r="10.5" stroke="#00D1DE" stroke-width="3"></circle>
                            <circle cx="128" cy="40" r="1" fill="#269EAA" stroke="#269EAA" stroke-width="3"></circle>
                            <circle cx="189" cy="101" r="10.5" stroke="#00D1DE" stroke-width="3"></circle>
                            <circle cx="189" cy="101" r="1" fill="#269EAA" stroke="#269EAA" stroke-width="3"></circle>
                            <circle cx="223" cy="67" r="10.5" stroke="#00D1DE" stroke-width="3"></circle>
                            <circle cx="223" cy="67" r="1" fill="#269EAA" stroke="#269EAA" stroke-width="3"></circle>
                            <circle cx="264" cy="108" r="10.5" stroke="#00D1DE" stroke-width="3"></circle>
                            <circle cx="264" cy="108" r="1" fill="#269EAA" stroke="#269EAA" stroke-width="3"></circle>
                            <circle cx="118" cy="2" r="2" fill="#36ACB8"></circle>
                            <circle cx="118" cy="9" r="2" fill="#36ACB8"></circle>
                            <circle cx="118" cy="16" r="2" fill="#36ACB8"></circle>
                            <rect x="123" width="37" height="4" rx="2" fill="#00D1DE"></rect>
                            <rect x="123" y="7" width="43" height="4" rx="2" fill="#00D1DE"></rect>
                            <rect x="123" y="14" width="31" height="4" rx="2" fill="#00D1DE"></rect>
                            <circle cx="179" cy="125" r="2" fill="#36ACB8"></circle>
                            <circle cx="179" cy="132" r="2" fill="#36ACB8"></circle>
                            <circle cx="179" cy="139" r="2" fill="#36ACB8"></circle>
                            <rect x="184" y="123" width="37" height="4" rx="2" fill="#00D1DE"></rect>
                            <rect x="184" y="130" width="43" height="4" rx="2" fill="#00D1DE"></rect>
                            <rect x="184" y="137" width="31" height="4" rx="2" fill="#00D1DE"></rect>
                            <circle cx="70" cy="98" r="1.5" fill="#36ACB8"></circle>
                            <circle cx="99.5" cy="68.5" r="1.5" fill="#36ACB8"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <content class="p-0">
        <div class="img-cover Vertical-Align-Parent">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="Vertical-Align">
                            <h2 class="mb-3">You select how much you want to contribute</h2>
                            <h4>Select a maximum value that you are happy to contribute towards offsetting your personal footprint each month. No fixed amount. You pay for what you use.</h4>
                        </div>
                    </div>
                    <div class="col-6 text-center h-100vh">
                        <svg xmlns="http://www.w3.org/2000/svg" width="" height="" viewBox="0 0 286 67" fill="none">
                            <rect y="55.5" width="286" height="6" rx="3" fill="#B6F2E3"></rect>
                            <rect x="67" y="55.5" width="171" height="6" rx="3" fill="#00DEA3"></rect>
                            <circle cx="235" cy="58.5" r="6.5" fill="white" stroke="#00DEA3" stroke-width="3"></circle>
                            <circle cx="235" cy="58.5" r="1" fill="#00DEA3" stroke="#00DEA3" stroke-width="3"></circle>
                            <circle cx="70" cy="58.5" r="6.5" fill="white" stroke="#00DEA3" stroke-width="3"></circle>
                            <circle cx="70" cy="58.5" r="1" fill="#00DEA3" stroke="#00DEA3" stroke-width="3"></circle>
                            <path d="M238.49 39.3663C237.796 40.7421 236.863 42.1407 236.014 43.1814C235.625 43.6572 235.278 44.0294 235 44.2824C234.722 44.0294 234.375 43.6572 233.986 43.1814C233.137 42.1407 232.204 40.7421 231.51 39.3663C230.393 37.1485 228.018 34.75 225 34.75H208.75C207.369 34.75 206.25 33.6307 206.25 32.25V4C206.25 2.61929 207.369 1.5 208.75 1.5H261.25C262.631 1.5 263.75 2.61929 263.75 4V32.25C263.75 33.6307 262.631 34.75 261.25 34.75H245C241.982 34.75 239.607 37.1485 238.49 39.3663ZM234.624 44.575C234.624 44.5747 234.63 44.5713 234.641 44.5662C234.63 44.5729 234.624 44.5754 234.624 44.575ZM235.359 44.5662C235.37 44.5713 235.376 44.5746 235.376 44.575C235.376 44.5754 235.37 44.5729 235.359 44.5662Z" stroke="#00DEA3" stroke-width="3"></path>
                            <path d="M74.5 36.25C74.5 36.7721 74.2984 37.571 73.8626 38.5734C73.4406 39.5443 72.8543 40.5815 72.2192 41.5378C71.5828 42.496 70.9245 43.3322 70.3762 43.9106C70.2352 44.0594 70.1093 44.1827 70 44.2824C69.8907 44.1827 69.7648 44.0594 69.6238 43.9106C69.0755 43.3322 68.4172 42.496 67.7808 41.5378C67.1457 40.5815 66.5594 39.5443 66.1374 38.5734C65.7017 37.571 65.5 36.7721 65.5 36.25C65.5 33.7647 67.5147 31.75 70 31.75C72.4853 31.75 74.5 33.7647 74.5 36.25Z" stroke="#00DEA3" stroke-width="3"></path>
                            <path d="M219.234 18.148H220.431C220.569 17.416 220.788 16.756 221.088 16.168C221.388 15.574 221.754 15.07 222.186 14.656C222.618 14.242 223.107 13.924 223.653 13.702C224.199 13.474 224.793 13.36 225.435 13.36C226.269 13.36 226.983 13.522 227.577 13.846C228.171 14.164 228.669 14.596 229.071 15.142L228.288 15.988C228.228 16.054 228.165 16.114 228.099 16.168C228.033 16.216 227.94 16.24 227.82 16.24C227.736 16.24 227.658 16.216 227.586 16.168C227.52 16.12 227.445 16.06 227.361 15.988C227.277 15.916 227.184 15.838 227.082 15.754C226.98 15.67 226.857 15.592 226.713 15.52C226.575 15.448 226.41 15.388 226.218 15.34C226.026 15.292 225.798 15.268 225.534 15.268C224.826 15.268 224.229 15.511 223.743 15.997C223.257 16.483 222.918 17.2 222.726 18.148H227.244V18.832C227.244 18.97 227.187 19.099 227.073 19.219C226.965 19.333 226.815 19.39 226.623 19.39H222.573C222.567 19.492 222.564 19.594 222.564 19.696C222.564 19.792 222.564 19.891 222.564 19.993C222.564 20.065 222.564 20.137 222.564 20.209C222.564 20.281 222.567 20.35 222.573 20.416H226.389V21.091C226.389 21.229 226.332 21.358 226.218 21.478C226.104 21.592 225.954 21.649 225.768 21.649H222.681C222.849 22.681 223.17 23.452 223.644 23.962C224.124 24.466 224.718 24.718 225.426 24.718C225.858 24.718 226.203 24.661 226.461 24.547C226.725 24.427 226.938 24.295 227.1 24.151C227.268 24.007 227.406 23.878 227.514 23.764C227.628 23.644 227.751 23.584 227.883 23.584C227.949 23.584 228.006 23.596 228.054 23.62C228.102 23.638 228.153 23.677 228.207 23.737L229.17 24.619C228.75 25.267 228.216 25.765 227.568 26.113C226.92 26.455 226.167 26.626 225.309 26.626C224.601 26.626 223.965 26.509 223.401 26.275C222.843 26.035 222.357 25.699 221.943 25.267C221.529 24.835 221.19 24.313 220.926 23.701C220.668 23.089 220.485 22.405 220.377 21.649H219.234V20.416H220.278C220.272 20.35 220.269 20.281 220.269 20.209C220.269 20.137 220.269 20.065 220.269 19.993C220.269 19.891 220.269 19.792 220.269 19.696C220.269 19.594 220.272 19.492 220.278 19.39H219.234V18.148ZM238.756 24.835V26.5H231.556V24.835H234.193V17.248C234.193 16.948 234.202 16.639 234.22 16.321L232.348 17.887C232.24 17.971 232.132 18.025 232.024 18.049C231.922 18.067 231.823 18.067 231.727 18.049C231.637 18.031 231.556 18.001 231.484 17.959C231.412 17.911 231.358 17.86 231.322 17.806L230.62 16.843L234.589 13.468H236.416V24.835H238.756ZM249.873 19.993C249.873 21.127 249.75 22.114 249.504 22.954C249.264 23.788 248.928 24.478 248.496 25.024C248.07 25.57 247.563 25.978 246.975 26.248C246.393 26.512 245.763 26.644 245.085 26.644C244.407 26.644 243.777 26.512 243.195 26.248C242.619 25.978 242.118 25.57 241.692 25.024C241.266 24.478 240.933 23.788 240.693 22.954C240.453 22.114 240.333 21.127 240.333 19.993C240.333 18.853 240.453 17.866 240.693 17.032C240.933 16.198 241.266 15.508 241.692 14.962C242.118 14.416 242.619 14.011 243.195 13.747C243.777 13.477 244.407 13.342 245.085 13.342C245.763 13.342 246.393 13.477 246.975 13.747C247.563 14.011 248.07 14.416 248.496 14.962C248.928 15.508 249.264 16.198 249.504 17.032C249.75 17.866 249.873 18.853 249.873 19.993ZM247.578 19.993C247.578 19.051 247.509 18.271 247.371 17.653C247.233 17.035 247.047 16.543 246.813 16.177C246.585 15.811 246.321 15.556 246.021 15.412C245.721 15.262 245.409 15.187 245.085 15.187C244.767 15.187 244.458 15.262 244.158 15.412C243.864 15.556 243.603 15.811 243.375 16.177C243.147 16.543 242.964 17.035 242.826 17.653C242.694 18.271 242.628 19.051 242.628 19.993C242.628 20.935 242.694 21.715 242.826 22.333C242.964 22.951 243.147 23.443 243.375 23.809C243.603 24.175 243.864 24.433 244.158 24.583C244.458 24.727 244.767 24.799 245.085 24.799C245.409 24.799 245.721 24.727 246.021 24.583C246.321 24.433 246.585 24.175 246.813 23.809C247.047 23.443 247.233 22.951 247.371 22.333C247.509 21.715 247.578 20.935 247.578 19.993Z" fill="#00DEA3"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <content class="p-0">
        <div class="img-cover Vertical-Align-Parent">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="Vertical-Align">
                                <h2 class="mb-3">Your footprint is neutralized</h2>
                                <h4>
                                    Each month your total footprint is calculated and an offset up to your maximum contribution is placed into an eco project fund. You only pay for your own footprint.
                                    <br /><br />
                                    We offset your footprint by planting trees and investing in development of renewable energy
                                    <br /><br />
                                    You can view what has been done with your contributions and how much of your footprint you’ve removed.
                                </h4>
                                <br />
                                <button onclick="OpenOptin()" class="btn btn-outline-secondary btn-lg border-round">Sign Up</button>
                            </div>
                        </div>
                        <div class="col-6 text-center h-100vh">
                            <svg xmlns="http://www.w3.org/2000/svg" width="" height="" viewBox="0 0 766 839" fill="none">
                                <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="766" height="839">
                                    <path d="M71.3578 726C-249.14 414 613.871 0 613.871 0C613.871 0 885.457 322.468 702.371 605.5C539.723 856.938 268.074 917.5 71.3578 726Z" fill="url(#paint0_linear)"></path>
                                </mask>
                                <g mask="url(#mask0)">
                                    <path d="M71.3578 726C-249.14 414 613.871 0 613.871 0C613.871 0 885.457 322.468 702.371 605.5C539.723 856.938 268.074 917.5 71.3578 726Z" fill="url(#paint1_linear)"></path>
                                    <path d="M303.01 798.019C299.017 794.364 298.071 781.899 298.071 781.899C298.071 781.899 310.493 781.314 314.438 784.749C318.619 788.39 316.384 798.887 316.384 798.887C316.384 798.887 306.888 801.569 303.01 798.019Z" fill="white"></path>
                                    <path d="M315.323 765.818C314.397 760.457 321.238 750.036 321.238 750.036C321.238 750.036 331.394 757.281 332.415 762.438C333.498 767.904 325.346 774.8 325.346 774.8C325.346 774.8 316.222 771.024 315.323 765.818Z" fill="white"></path>
                                    <path d="M335.54 772.981C339.129 769.297 350.188 769.787 350.188 769.787C350.188 769.787 349.284 782.563 345.901 786.214C342.314 790.085 332.82 787.144 332.82 787.144C332.82 787.144 332.056 776.559 335.54 772.981Z" fill="white"></path>
                                    <path d="M325.791 775.685C325.791 775.685 324.777 777.56 324.406 778.907C322.328 786.457 321.646 796.439 321.585 805.79L316.527 799.264C316.527 799.264 319.124 803.939 320.708 807.104C321.311 808.31 321.565 809.639 321.692 810.981C322.976 824.545 335.315 846.002 335.315 846.002H337.711H343.475C343.475 846.002 326.054 815.21 328.703 796.962C328.805 796.257 329.022 795.582 329.303 794.927L332.528 787.409L326.424 793.369C326.008 788.455 325.158 780.462 325.791 775.685Z" fill="white"></path>
                                    <path d="M162.279 730.866C166.509 726.995 167.511 713.79 167.511 713.79C167.511 713.79 154.352 713.171 150.174 716.809C145.745 720.666 148.112 731.786 148.112 731.786C148.112 731.786 158.171 734.626 162.279 730.866Z" fill="white"></path>
                                    <path d="M149.235 696.756C150.216 691.077 142.969 680.038 142.969 680.038C142.969 680.038 132.211 687.713 131.129 693.176C129.982 698.966 138.617 706.271 138.617 706.271C138.617 706.271 148.283 702.27 149.235 696.756Z" fill="white"></path>
                                    <path d="M127.819 704.344C124.018 700.441 112.303 700.959 112.303 700.959C112.303 700.959 113.26 714.493 116.844 718.361C120.644 722.461 130.701 719.346 130.701 719.346C130.701 719.346 131.51 708.133 127.819 704.344Z" fill="white"></path>
                                    <path d="M138.148 707.207C138.148 707.207 139.223 709.194 139.615 710.621C141.816 718.618 142.539 729.192 142.604 739.098L147.961 732.185C147.961 732.185 145.149 737.245 143.478 740.599C142.877 741.806 142.623 743.133 142.501 744.476C141.203 758.836 128.06 781.693 128.06 781.693H125.522H119.415C119.415 781.693 137.91 749.005 135.054 729.683C134.95 728.978 134.734 728.304 134.453 727.649L131.012 719.627L137.478 725.94C137.918 720.735 138.819 712.268 138.148 707.207Z" fill="white"></path>
                                    <path d="M189.895 827.191C189.895 827.191 201.141 666.232 194.117 638.419C187.363 611.677 161.188 575.938 161.188 575.938L200.871 623.221C200.871 623.221 207.626 575.938 204.249 544.698C200.871 513.457 189.895 490.66 189.895 490.66C189.895 490.66 209.104 520.212 214.381 541.32C219.658 562.429 217.758 623.221 217.758 623.221L257.804 579.088C258.64 578.167 259 576.909 258.777 575.685L248.998 521.901L265.767 573.005C266.294 574.611 268.043 575.465 269.634 574.892L330.055 553.141L267.979 582.501C267.71 582.628 267.468 582.775 267.236 582.962C263.608 585.87 231.842 611.899 222.824 638.419C214.331 663.393 232.862 827.191 232.862 827.191H189.895Z" fill="white"></path>
                                    <path d="M146.451 600.797C136.646 605.37 113.104 597.436 113.104 597.436C113.104 597.436 121.732 573.917 131.095 569.263C141.02 564.331 158.48 576.64 158.48 576.64C158.48 576.64 155.971 596.356 146.451 600.797Z" fill="white"></path>
                                    <path d="M137.662 556.014C135.806 545.311 149.523 524.505 149.523 524.505C149.523 524.505 169.889 538.97 171.937 549.266C174.108 560.18 157.761 573.947 157.761 573.947C157.761 573.947 139.465 566.407 137.662 556.014Z" fill="white"></path>
                                    <path d="M162.492 502.75C151.957 500.101 138.511 479.119 138.511 479.119C138.511 479.119 159.998 466.379 170.239 468.687C181.095 471.134 187.041 491.662 187.041 491.662C187.041 491.662 172.722 505.321 162.492 502.75Z" fill="white"></path>
                                    <path d="M181.676 461.541C185.397 451.335 207.654 440.125 207.654 440.125C207.654 440.125 218.11 462.811 214.758 472.759C211.205 483.305 190.174 487.102 190.174 487.102C190.174 487.102 178.063 471.451 181.676 461.541Z" fill="white"></path>
                                    <path d="M220.085 517.111C213.107 508.786 214.527 483.905 214.527 483.905C214.527 483.905 239.402 486.193 246.341 494.07C253.697 502.42 246.47 522.532 246.47 522.532C246.47 522.532 226.861 525.195 220.085 517.111Z" fill="white"></path>
                                    <path d="M321.122 523.177C324.365 513.412 344.727 504.57 344.727 504.57C344.727 504.57 354.279 528.293 351.375 537.819C348.298 547.917 328.612 550.984 328.612 550.984C328.612 550.984 317.972 532.659 321.122 523.177Z" fill="white"></path>
                                    <path d="M257.582 495.812C264.777 488.457 286.954 489.434 286.954 489.434C286.954 489.434 285.142 514.943 278.358 522.233C271.166 529.96 252.127 524.089 252.127 524.089C252.127 524.089 250.595 502.955 257.582 495.812Z" fill="white"></path>
                                    <path d="M361.105 554.779C369.697 560.44 372.968 582.396 372.968 582.396C372.968 582.396 347.581 585.482 339.131 580.212C330.174 574.626 332.306 554.817 332.306 554.817C332.306 554.817 352.761 549.282 361.105 554.779Z" fill="white"></path>
                                    <path d="M364.274 531.394C371.069 529.996 383.094 538.904 383.094 538.904C383.094 538.904 372.464 552.476 365.923 553.992C358.99 555.599 350.564 545.14 350.564 545.14C350.564 545.14 357.676 532.751 364.274 531.394Z" fill="white"></path>
                                    <path d="M245.644 476.455C247.831 469.872 261.558 463.911 261.558 463.911C261.558 463.911 267.997 479.904 266.04 486.326C263.965 493.134 250.694 495.201 250.694 495.201C250.694 495.201 243.521 482.847 245.644 476.455Z" fill="white"></path>
                                    <path d="M116.298 566.101C110.506 562.285 108.301 547.483 108.301 547.483C108.301 547.483 125.415 545.402 131.112 548.955C137.151 552.721 135.713 566.075 135.713 566.075C135.713 566.075 121.923 569.806 116.298 566.101Z" fill="white"></path>
                                    <path d="M158.513 464.78C152.72 460.963 150.516 446.162 150.516 446.162C150.516 446.162 167.63 444.081 173.327 447.634C179.365 451.4 177.928 464.754 177.928 464.754C177.928 464.754 164.138 468.485 158.513 464.78Z" fill="white"></path>
                                    <path d="M491.304 342.396H473.603L463.598 817.564H501.309L491.304 342.396Z" fill="white"></path>
                                    <path d="M458.601 360.436L464.653 343.794C465.349 341.88 465.185 339.759 464.204 337.975C461.982 333.936 456.55 333.072 453.185 336.223L359.919 423.567C358.87 424.55 358.842 426.207 359.859 427.224C360.67 428.035 361.923 428.203 362.919 427.635L438.12 384.726C447.609 379.311 454.867 370.703 458.601 360.436Z" fill="white"></path>
                                    <path d="M522.606 332.027L505.167 335.107C503.162 335.461 501.407 336.664 500.353 338.406C497.965 342.349 499.934 347.486 504.345 348.824L626.62 385.923C627.996 386.34 629.444 385.535 629.817 384.146C630.113 383.039 629.632 381.869 628.642 381.291L553.882 337.619C544.448 332.109 533.364 330.127 522.606 332.027Z" fill="white"></path>
                                    <path d="M468.012 291.204L479.399 304.766C480.708 306.325 482.627 307.244 484.662 307.286C489.271 307.382 492.735 303.109 491.689 298.62L462.68 174.177C462.353 172.777 460.932 171.925 459.543 172.297C458.435 172.594 457.663 173.595 457.657 174.742L457.217 261.322C457.161 272.247 460.987 282.837 468.012 291.204Z" fill="white"></path>
                                    <path d="M511.002 327.853C511.002 343.027 498.701 355.328 483.526 355.328C468.352 355.328 456.051 343.027 456.051 327.853C456.051 312.678 468.352 300.377 483.526 300.377C498.701 300.377 511.002 312.678 511.002 327.853Z" fill="white"></path>
                                    <path d="M589.48 513.043H577.843L571.266 825.427H596.058L589.48 513.043Z" fill="white"></path>
                                    <path d="M567.985 524.902L571.963 513.962C572.421 512.704 572.313 511.309 571.668 510.136C570.207 507.481 566.636 506.913 564.424 508.985L503.109 566.406C502.419 567.052 502.401 568.142 503.07 568.81C503.603 569.343 504.427 569.454 505.082 569.08L554.52 540.871C560.758 537.312 565.53 531.652 567.985 524.902Z" fill="white"></path>
                                    <path d="M610.068 506.223L598.604 508.248C597.285 508.48 596.132 509.271 595.438 510.416C593.869 513.009 595.163 516.385 598.063 517.265L678.449 541.654C679.354 541.929 680.306 541.4 680.55 540.487C680.746 539.758 680.429 538.99 679.778 538.609L630.63 509.899C624.428 506.276 617.141 504.973 610.068 506.223Z" fill="white"></path>
                                    <path d="M574.166 479.386L581.652 488.302C582.513 489.327 583.774 489.931 585.112 489.959C588.142 490.021 590.42 487.212 589.732 484.261L570.66 402.45C570.446 401.529 569.512 400.969 568.598 401.214C567.87 401.409 567.362 402.067 567.359 402.821L567.069 459.741C567.033 466.923 569.548 473.885 574.166 479.386Z" fill="white"></path>
                                    <path d="M602.439 503.481C602.439 513.457 594.351 521.544 584.376 521.544C574.4 521.544 566.312 513.457 566.312 503.481C566.312 493.505 574.4 485.418 584.376 485.418C594.351 485.418 602.439 493.505 602.439 503.481Z" fill="white"></path>
                                </g>
                                <defs>
                                    <linearGradient id="paint0_linear" x1="382.893" y1="0" x2="382.893" y2="838.726" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#00DEA3"></stop>
                                        <stop offset="1" stop-color="#36ACB8"></stop>
                                    </linearGradient>
                                    <linearGradient id="paint1_linear" x1="382.893" y1="0" x2="382.893" y2="838.726" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#00DEA3"></stop>
                                        <stop offset="1" stop-color="#36ACB8"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
    </content>
</main>

<div class="p-3 fixed-top">
    <h1 onclick="OpenMain()" class="close float-left">&times;</h1>
</div>
