@{
    Layout = null;
}

<main id="Problem" class="storyboard styled-scroll">
    <content>
        <div class="img-cover Vertical-Align-Parent story" style="background-image: url('/Content/Media/Images/Tiles/Section-1-1.png');">
            <div class="Vertical-Align text-white text-center">
                <div class="container">
                    <h2>The average EU citizen produces 8 Tonnes of CO2 each year.</h2>
                </div>
            </div>
        </div>
    </content>
    <content>
        <div class="img-cover Vertical-Align-Parent story" style="background-image: url('/Content/Media/Images/Tiles/Section-1-2.png');">
            <div class="Vertical-Align text-white text-center">
                <div class="container">
                    <h2>Over 800,000 people die prematurely in Europe each year from air polution</h2>
                </div>
            </div>
        </div>
    </content>
    <content class="p-0">
        <div class="img-cover Vertical-Align-Parent">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="Vertical-Align">
                            <h2 class="mb-3">Time Is Running Out</h2>
                            <h4>Over the last few decades the natural world has suffered, we are reaching a tipping point to halt the damage and change must be made.</h4>
                            <br />
                            <button onclick="OpenStory('Mission-Story')" class="btn btn-outline-primary border-round">Our Solution</button>
                        </div>
                    </div>
                    <div class="col-6 text-center h-100vh">
                        <img class="story-height" src="~/Content/Media/Images/Tiles/Protest.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </content>
</main>



<div class="p-3 fixed-top">
    <h1 onclick="OpenMain()" class="close float-left">&times;</h1>
</div>
